grid {
  width: 100%;
  padding: 1vw calc((100% - 300px * var(--rows) - 16px * (var(--rows) - 1)) / 2);
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(var(--rows), 300px);

  --rows: 1;
  @media (min-width: 657px) {
    --rows: 2;
  }
  @media (min-width: 960px) {
    --rows: 3;
  }
  @media (min-width: 1260px) {
    --rows: 4;
  }
  @media (min-width: 1585px) {
    --rows: 5;
  }
  @media (min-width: 1900px) {
    --rows: 6;
  }
  @media (min-width: 2220px) {
    --rows: 7;
  }
  @media (min-width: 2500px) {
    --rows: 8;
  }
}
