:root {
  --product-store-img-height: 20em;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.cardBase {
  width: 300px;
  height: 500px;
}

.card {
  width: inherit;
  height: inherit;
  border-radius: none;
}

.card-head {
  position: relative;
  width: inherit;
  height: var(--product-store-img-height);
}

.card-head > img {
  object-fit: cover;
}

.prod-img {
  width: inherit;
  height: inherit;
  border-radius: 2%;
}

.card-body {
  width: inherit;
  height: calc(100% - var(--product-store-img-height));
}

span .right {
  float: right;
}

.product-brand {
  padding: 0.5em 0em 0.25em 1.25em;
  display: block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: "";
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-title {
  padding: 0.5em 1.25em 0.25em;
  display: block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.card-body .product-price {
  display: block;
  padding: 0 1.25em;
  font-size: 1em;
  font-weight: 400;
}

.product-buttons {
  padding: 2em 1.25em 0em;
  display: block;
}

.product-buttons .btn {
  padding: 0.75em 0.75em;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px rgb(199, 199, 199);
}