/* .navbar {
  width: 100%;
  position: relative;
  
  overflow: hidden;
} */



/* .coming-soon {
  position: absolute;
  width: 100%;
  height: auto;
}

.coming-soon > img {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
} */
