.menu > ul {
 
  
  
  list-style: none;
  padding: unset;
  margin: unset;
  z-index: 1;
  
}

.menu > ul li {
  padding: 14px;
  transition: all linear 0.4s;
}

.menu > ul li:hover {
  background: #8a4343;
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: 0.3s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.menu {
position: ab;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
}
