@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

nav {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-shrink: 0;
  background: #dce0e4;
  backdrop-filter: blur(2px);
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  /* overflow: hidden; */
  overflow: visible;
  justify-content: center;
  align-items: center;
}

nav ul li dropdown{
  position: absolute;
  
  
}

nav a {
  display: inline-block; /* or inline */
}

.logo-img {
  width: 40%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

nav > ul {
  padding-top: 20px;
  /* color: #231f20; */

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style: none;
  display: flex;
  gap: 40px;
}

nav > ul a {
  text-decoration: none;
  color: #231f20;
}





nav > ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: 0.3s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
