@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

form {
  position: relative;
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: row;
  justify-content: space-around;
  height: 85vh;
  background-color: #edededee;
  /* gap: 5vh; */
  margin-inline: 1vw;
  width: 80;
  height: 108vh;
  border-radius: 16px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

form h1 {
  font-size: 1.8vw;
  margin-left: 32px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
}

border-line {
  width: 1px;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.5);
}

form col-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  gap: 4vw;
}

form col-left order-details {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* gap: 2vw; */
}

form col-left input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
}

form label {
  font-size: 1.1vw;
  padding: 8px;
}

input {
  padding: 16px;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form col-right {
  position: relative;
  display: flex;
  flex-direction: column;
}

form col-right design-details {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: stretch; */
  gap: 0.5vw;
}

shipping-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form col-right design-details input-field {
  font-family: "Noto Sans", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

upload-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;
}

upload-input input {
  display: none;
  width: 200px;
  height: 100px;
}

file-name {
  display: block;
  width: 390px;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
}

upload-input button {
  /* border-radius: 8px;
  border: 1px;
  background-color: #843a3a;
  color: white;
  padding-left: 72px;
  padding-right: 72px;
  font-size: large;
  cursor: pointer; */
}

design-details submit-button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 300px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

design-details submit-button button {
  cursor: pointer;
  height: 50px;
  width: 300px;
  border-radius: 8px;
  border: 1px;
  background-color: #843a3a;
  color: white;
  font-size: larger;
}

.upload-file {
  font-size: large;
  padding-left: 68px;
  padding-right: 68px;
  border: 2px solid #843a3a;
  background-color: #843a3a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}

filler-image {
  height: auto;
  width: 22vw;
  object-fit: cover;
  align-self: center;
  /* justify-self: flex-start */
}

form img {
  padding-top: 40px;
  border-radius: 8px;
  width: 100%;
}
