grid-container {
  position: relative;
  background-color: rgba(238, 238, 238, 0.9333);
  /* background-color: whitesmoke; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px;
  width: 1800px;
  height: 775px;
  border-radius: 16px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

grid-body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

grid-items {
  grid-template-columns: repeat(4, 0.4fr);
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 1800px;
}

grid-item {
position: relative;
  align-self: center;
  justify-self: center;
  width: 380px;
  height: 512px;
  border-radius: 8px;
}

category-img {
  position: relative;
}

.order-button {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  left: 15%;
  bottom: 55%;
  /* z-index: 2; */
  border-radius: 8px;
  background: #843a3a;
  height: 64px;
  width: 256px;
  border: none;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: larger;
  cursor: pointer;
}
.grid-tile {
  transition: 0.5s ease;
  border-radius: 12px;
  width: 380px;
  height: 512px;
  object-fit: cover;
}

grid-item:hover .grid-tile {
  opacity: 0.1;
}

grid-item:hover .order-button {
  opacity: 1;
  z-index: 2;
}

grid-item-overlay {
    top: 0;
    left: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 1;
  opacity: 0;
  background-color: #843a3a;
  border-radius: 12px;
  transition: .5s ease;
}

grid-item:hover grid-item-overlay {
  height: inherit;
  width: inherit;
  background-color: #843a3a;
  z-index: 1;
  opacity: 0.3;
}
